<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.excilys.sugadroid" android:versionCode="1"
	android:versionName="1.0.0">
	<!-- To allow internet access (web services -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_CONTACTS" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	
	<application android:icon="@drawable/icon" android:label="@string/app_name">

		<activity android:name=".activities.ContactListActivity"
			android:label="@string/activity_contact_list">
		</activity>

		<activity android:name=".activities.ContactDetailsActivity"
			android:label="@string/activity_contact_details">
		</activity>

		<activity android:name=".activities.AccountListActivity"
			android:label="@string/activity_account_list">
		</activity>

		<activity android:name=".activities.AccountDetailsActivity"
			android:label="@string/activity_account_details">
		</activity>

		<activity android:name=".activities.ConnectionSettings"
			android:label="@string/activity_connection_settings">
		</activity>
		
		<activity android:name=".activities.GeneralSettings"
			android:label="@string/activity_general_settings">
		</activity>
		
		<activity android:name=".activities.AppointmentsActivity"
			android:label="@string/activity_appointments">
		</activity>
		
		<activity android:name=".activities.AppointmentDetailsActivity"
			android:label="@string/activity_appointment_details">
		</activity>

		<activity android:name=".activities.MenuActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>


</manifest> 